---
http_interactions:
- request:
    method: get
    uri: https://frontier.testnet.digitalbits.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-digitalbits-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/{account_id}",
              "templated": true
            },
            "accounts": {
              "href": "https://frontier.testnet.digitalbits.io/accounts{?signer,asset,cursor,limit,order}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://frontier.testnet.digitalbits.io/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://friendbot.testnet.digitalbits.io/{?addr}",
              "templated": true
            },
            "offer": {
              "href": "https://frontier.testnet.digitalbits.io/offers/{offer_id}",
              "templated": true
            },
            "offers": {
              "href": "https://frontier.testnet.digitalbits.io/offers{?selling,buying,seller,cursor,limit,order}",
              "templated": true
            },
            "order_book": {
              "href": "https://frontier.testnet.digitalbits.io/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://frontier.testnet.digitalbits.io/"
            },
            "strict_receive_paths": {
              "href": "https://frontier.testnet.digitalbits.io/paths/strict-receive{?source_assets,source_account,destination_account,destination_asset_type,destination_asset_issuer,destination_asset_code,destination_amount}",
              "templated": true
            },
            "strict_send_paths": {
              "href": "https://frontier.testnet.digitalbits.io/paths/strict-send{?destination_account,destination_assets,source_asset_type,source_asset_issuer,source_asset_code,source_amount}",
              "templated": true
            },
            "transaction": {
              "href": "https://frontier.testnet.digitalbits.io/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://frontier.testnet.digitalbits.io/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "frontier_version": "1.0.0-948d8d1221abd4f15cac2d3a9eb44b31633cd3b9",
          "core_version": "digitalbits-core 12.4.0 (c0136139802ac1a1ac8899424e7888fa9366414e)",
          "ingest_latest_ledger": 751444,
          "history_latest_ledger": 751444,
          "history_elder_ledger": 1,
          "core_latest_ledger": 751444,
          "network_passphrase": "Test SDF Network ; September 2015",
          "current_protocol_version": 12,
          "core_supported_protocol_version": 12
        }
  recorded_at: Mon, 16 Mar 2020 19:16:40 GMT
- request:
    method: get
    uri: https://frontier.testnet.digitalbits.io/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-digitalbits-sdk
      X-Client-Version:
      - 0.7.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      Latest-Ledger:
      - '751444'
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "account_id": "[source_address]",
          "sequence": "3030756557324294",
          "subentry_count": 0,
          "last_modified_ledger": 705785,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false,
            "auth_immutable": false
          },
          "balances": [
            {
              "balance": "9745.8999400",
              "buying_liabilities": "0.0000000",
              "selling_liabilities": "0.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {},
          "paging_token": "[source_address]"
        }
  recorded_at: Mon, 16 Mar 2020 19:16:41 GMT
recorded_with: VCR 3.0.3
