---
http_interactions:
- request:
    method: get
    uri: https://frontier.testnet.digitalbits.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-digitalbits-sdk
      X-Client-Version:
      - 0.8.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/{account_id}",
              "templated": true
            },
            "accounts": {
              "href": "https://frontier.testnet.digitalbits.io/accounts{?signer,asset,cursor,limit,order}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://frontier.testnet.digitalbits.io/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://frontier.testnet.digitalbits.io/effects{?cursor,limit,order}",
              "templated": true
            },
            "fee_stats": {
              "href": "https://frontier.testnet.digitalbits.io/fee_stats"
            },
            "friendbot": {
              "href": "https://friendbot.testnet.digitalbits.io/{?addr}",
              "templated": true
            },
            "ledger": {
              "href": "https://frontier.testnet.digitalbits.io/ledger/{sequence}",
              "templated": true
            },
            "ledgers": {
              "href": "https://frontier.testnet.digitalbits.io/ledgers{?cursor,limit,order}",
              "templated": true
            },
            "offer": {
              "href": "https://frontier.testnet.digitalbits.io/offers/{offer_id}",
              "templated": true
            },
            "offers": {
              "href": "https://frontier.testnet.digitalbits.io/offers{?selling,buying,seller,cursor,limit,order}",
              "templated": true
            },
            "operation": {
              "href": "https://frontier.testnet.digitalbits.io/operations/{id}",
              "templated": true
            },
            "operations": {
              "href": "https://frontier.testnet.digitalbits.io/operations{?cursor,limit,order,include_failed}",
              "templated": true
            },
            "order_book": {
              "href": "https://frontier.testnet.digitalbits.io/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "payments": {
              "href": "https://frontier.testnet.digitalbits.io/payments{?cursor,limit,order,include_failed}",
              "templated": true
            },
            "self": {
              "href": "https://frontier.testnet.digitalbits.io/"
            },
            "strict_receive_paths": {
              "href": "https://frontier.testnet.digitalbits.io/paths/strict-receive{?source_assets,source_account,destination_account,destination_asset_type,destination_asset_issuer,destination_asset_code,destination_amount}",
              "templated": true
            },
            "strict_send_paths": {
              "href": "https://frontier.testnet.digitalbits.io/paths/strict-send{?destination_account,destination_assets,source_asset_type,source_asset_issuer,source_asset_code,source_amount}",
              "templated": true
            },
            "trade_aggregations": {
              "href": "https://frontier.testnet.digitalbits.io/trade_aggregations?base_asset_type={base_asset_type}\u0026base_asset_code={base_asset_code}\u0026base_asset_issuer={base_asset_issuer}\u0026counter_asset_type={counter_asset_type}\u0026counter_asset_code={counter_asset_code}\u0026counter_asset_issuer={counter_asset_issuer}",
              "templated": true
            },
            "trades": {
              "href": "https://frontier.testnet.digitalbits.io/trades?base_asset_type={base_asset_type}\u0026base_asset_code={base_asset_code}\u0026base_asset_issuer={base_asset_issuer}\u0026counter_asset_type={counter_asset_type}\u0026counter_asset_code={counter_asset_code}\u0026counter_asset_issuer={counter_asset_issuer}",
              "templated": true
            },
            "transaction": {
              "href": "https://frontier.testnet.digitalbits.io/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://frontier.testnet.digitalbits.io/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "frontier_version": "1.2.1~unstable-5a1aec3650501a114efedbf81d91dd580a7c8f0e",
          "core_version": "digitalbits-core 13.0.0 (9ed3da29be1c2c932b946025ca2907646a9072f4)",
          "ingest_latest_ledger": 302386,
          "history_latest_ledger": 302386,
          "history_elder_ledger": 1,
          "core_latest_ledger": 302386,
          "network_passphrase": "TestNet Global DigitalBits Network ; December 2020",
          "current_protocol_version": 13,
          "core_supported_protocol_version": 13
        }
  recorded_at: Mon, 18 May 2020 11:30:14 GMT
- request:
    method: get
    uri: https://frontier.testnet.digitalbits.io/accounts/GBUFVANTYQUOGN4EGYECLWZ6ED427VAJKD2JB4JWV47FJ723B6MR5XPH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Name:
      - ruby-digitalbits-sdk
      X-Client-Version:
      - 0.8.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      Latest-Ledger:
      - '302386'
      X-Ratelimit-Limit:
      - '101'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/GBUFVANTYQUOGN4EGYECLWZ6ED427VAJKD2JB4JWV47FJ723B6MR5XPH"
            },
            "transactions": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/GBUFVANT[...]
