---
http_interactions:
- request:
    method: get
    uri: https://frontier.testnet.digitalbits.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '18000'
      X-Ratelimit-Remaining:
      - '17975'
      X-Ratelimit-Reset:
      - '277'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://frontier.testnet.digitalbits.io/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://frontier.testnet.digitalbits.io/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://frontier.testnet.digitalbits.io/metrics"
            },
            "order_book": {
              "href": "https://frontier.testnet.digitalbits.io/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://frontier.testnet.digitalbits.io/"
            },
            "transaction": {
              "href": "https://frontier.testnet.digitalbits.io/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://frontier.testnet.digitalbits.io/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "frontier_version": "snapshot-snapshots-5-g0d276af",
          "core_version": "v9.2.0rc2-dirty",
          "history_latest_ledger": 7732527,
          "history_elder_ledger": 1,
          "core_latest_ledger": 7732527,
          "network_passphrase": "TestNet Global DigitalBits Network ; December 2020",
          "protocol_version": 9
        }
  recorded_at: Sun, 04 Mar 2018 12:05:19 GMT
- request:
    method: get
    uri: https://frontier.testnet.digitalbits.io/accounts/[source_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '18000'
      X-Ratelimit-Remaining:
      - '17971'
      X-Ratelimit-Reset:
      - '208'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]"
            },
            "transactions": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://frontier.testnet.digitalbits.io/accounts/[source_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[source_address]",
          "paging_token": "",
          "account_id": "[source_address]",
          "sequence": "346973227974715",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "3494.9997500",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[source_address]",
              "weight": 1,
              "key": "[source_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Sun, 04 Mar 2018 12:05:20 GMT
recorded_with: VCR 3.0.3
